<html lang="en">
    <head>
        <title>MC Server Web</title>
    </head>
    <body>
        <h1 style="margin-right: 4px">MC Server Web</h1>
        {% if logged_in %}
            <p id="welcome_message">Hello, {{ name }}!</p>
            <label for="server_list">Select Server:</label>
            <select onchange="on_server_select_change()" name="server_list" id="server_list">
                <option>Loading...</option>
            </select>
            <button id="start_stop_button" onclick="start_stop()" type="button">Start Server</button>
            <button onclick="logout()" type="button">Logout</button>
            {% if admin %}
                <button onclick="refresh_servers()">Refresh Available Servers</button>
            {% endif %}
            <h3 style="display: none" id="running_servers_title">Running Servers:</h3>
            <ul style="display: none" id="running_servers_list">
            </ul>
            <br><br><br>
            <div id="server_data" hidden>
                <h3 id="server_data_title"></h3>
                <h4>Log:</h4>
                <p id="server_data_log"></p>
                {% if admin %}
                    <form id="command_form">
                        <label for="command_input">Run Command:</label>
                        <input type="text" id="command_input" name="command_input">
                        <input type="submit" value="Run Command">
                    </form>
                {% endif %}
            </div>
            <br><br><br>
            <h3>Status Information:</h3>
            <h4>Represents the actions currently being taken by the web browser, whether on your behalf or as a background task.</h4>
            <p id="status">Status: Waiting to do something...</p>
            <p id="background_status">Background Status: Performing no background tasks...</p>
        {% else %}
            <p>Please log in to use MC Server Web.</p>
            <button onclick="login()" type="button">Login</button>
        {% endif %}
    </body>
<script src="../static/index.js"></script>
</html>